deploy/pacs/pacs.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.opendicom.com/xsd/plist/pacs.xsd"
    xmlns="http://www.opendicom.com/xsd/plist/pacs.xsd" 
    elementFormDefault="qualified"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" 
    vc:minVersion="1.1"
    >

    <xs:element name="plist">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="array">
                   <xs:annotation>
                      <xs:documentation>the first pacs of the array shall always be the httpdicom. The pacsoid of the httpdicom is also the name of the configuration file. The index of a pacs in the array used as a custodianOID indicates that httpdicom shall be responder of wado requests and others and will proxy to the pacs found at the index.</xs:documentation>
                   </xs:annotation>
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                             <xs:element name="dict">
                                <xs:annotation>
                                    <xs:documentation>properties of the pacs</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:group ref="pacsoid"/>
                                        <xs:group ref="pacsaet"/>
                                        <xs:group ref="local"/>
                                        <xs:group ref="preferredstudyidentificator"/>
                                        <xs:group ref="timezoneoffsetfromutc"/>
                                        <xs:group ref="custodiantitle"/>
                                        <xs:group ref="custodianoid"/>
                                        <xs:group ref="custodianglobaluri"/>                        
                                        <xs:group ref="countrycode"/>
                                        <xs:group ref="principallanguage"/>                        
                                        
                                        <!-- ================================== -->
                                        <!-- mandatory if local -->
                                        <xs:sequence minOccurs="0">
                                            <xs:group ref="select"/>
                                            <xs:group ref="get"/>
                                            <xs:group ref="mwl"/>
                                            <!--sql/files-->
                                            <xs:group ref="sqluser"/>
                                            <xs:group ref="sqlpassword"/>
                                            <xs:group ref="sqlprolog"/>
                                            <xs:group ref="sqlstringencoding"/>
                                            <xs:group ref="sqlmap"/>
                                            <xs:group ref="filesystembaseuri"/>
                                            
                                            <xs:group ref="sopstringencoding"/>
                                            
                                            <!--mllp-->
                                            <xs:group ref="mllpip"/>
                                            <xs:group ref="mllpport"/>
                                            <!--DICM-->
                                            <xs:group ref="DICMip"/>
                                            <xs:group ref="DICMport"/>
                                            <!--dicomweb-->
                                            <xs:group ref="cachepolicy"/>
                                            <xs:group ref="timeoutinterval"/>
                                            <xs:group ref="wadouri"/>
                                            <xs:group ref="wadoadditionalparameters"/>
                                            <xs:group ref="wadors"/>
                                            <xs:group ref="qido"/>
                                            <xs:group ref="stow"/>
                                            <!--dcm4chee-arc-->
                                            <xs:group ref="dcm4cheelocaluri"/>
                                            <xs:group ref="dcm4cheeDICMproxytitle"/>
                                            <xs:group ref="html5dicomuserserviceuri"/>
                                            <xs:group ref="html5dicomuseractive"/>
                                            <!--modality and aet lists-->
                                            <xs:group ref="services" minOccurs="0"/>
                                        </xs:sequence>                                        
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" fixed="1.0"/>
        </xs:complexType>
    </xs:element>    



<!-- groups -->
    
    <xs:group name="pacsoid">
        <xs:sequence>
            <xs:element name="key" fixed="pacsoid">
                <xs:annotation>
                    <xs:documentation>oid asociado al pacs</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="pacsoid"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="pacsaet">
        <xs:sequence>
            <xs:element name="key" fixed="pacsaet">
                <xs:annotation>
                    <xs:documentation>nombre corto (máx 16 chars) del device</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="pacsaet"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="local">
        <xs:sequence>
            <xs:element name="key" fixed="local">
                <xs:annotation>
                    <xs:documentation>es accesible directamente en la red DICOM local de httpdicom. Es decir que por ejemplo, puede recibir requests wado directamente desde html5dicom. De lo contrario, el wado está recibido por httpdicom, que sirve de proxy</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="truefalse"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="preferredstudyidentificator">
        <xs:sequence>
            <xs:element name="key" fixed="preferredstudyidentificator">
                <xs:annotation>
                    <xs:documentation>StudyInstanceUID o AccessionNumber</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="preferredstudyidentificator" />
        </xs:sequence>
    </xs:group>


    <xs:group name="timezoneoffsetfromutc">
        <xs:sequence>
            <xs:element name="key" fixed="timezoneoffsetfromutc">
                <xs:annotation>
                    <xs:documentation>+/-HHMM</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="timezoneoffsetfromutc" />
        </xs:sequence>
    </xs:group>
    
    
    <xs:group name="custodiantitle">
        <xs:sequence>
            <xs:element name="key" fixed="custodiantitle">
                <xs:annotation>
                    <xs:documentation>nombre corto (máx 16 chars) del PCS custodian</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="custodiantitle"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="custodianoid">
        <xs:sequence>
            <xs:element name="key" fixed="custodianoid">
                <xs:annotation>
                    <xs:documentation>oid del custodian (representa en internet el conjunto de los aets locales vinculados al httpdicom)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="custodianoid"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="custodianglobaluri">
        <xs:sequence>
            <xs:element name="key" fixed="custodianglobaluri">
                <xs:annotation>
                    <xs:documentation>public url del PCS custodian</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="custodianglobaluri"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="countrycode">
    <xs:sequence>
        <xs:element name="key" fixed="countrycode">
            <xs:annotation>
                <xs:documentation>country</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element ref="string" id="countrycode"/>
    </xs:sequence>
    </xs:group>
    
    <xs:group name="principallanguage">
    <xs:sequence>
        <xs:element name="key" fixed="principallanguage">
            <xs:annotation>
                <xs:documentation>principal language</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element ref="string" id="principallanguage"/>
    </xs:sequence>
    </xs:group>
    
    
    <xs:group name="select">
        <xs:sequence>
            <xs:element name="key" fixed="select">
                <xs:annotation>
                    <xs:documentation>sql, qido or cfind</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="select" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="get">
        <xs:sequence>
            <xs:element name="key" fixed="get">
                <xs:annotation>
                    <xs:documentation>file, folder, wado, wadors</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="get" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="mwl">
       <xs:sequence>
          <xs:element name="key" fixed="mwl">
             <xs:annotation>
                <xs:documentation>sql, rest or mllp</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element ref="string" id="mwl" />
       </xs:sequence>
    </xs:group>



    <xs:group name="sopstringencoding">
        <xs:sequence>
            <xs:element name="key" fixed="sopstringencoding">
                <xs:annotation>
                    <xs:documentation>(4=UTF-8, 5=latin1)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="sopstringencoding"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="sqluser">
        <xs:sequence>
            <xs:element name="key" fixed="sqluser">
                <xs:annotation>
                    <xs:documentation>should be invisible from GUI?</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="sqluser"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="sqlpassword">
       <xs:sequence>
          <xs:element name="key" fixed="sqlpassword">
             <xs:annotation>
                 <xs:documentation>should be invisible from GUI?</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element ref="string" id="sqlpassword"/>
       </xs:sequence>
    </xs:group>

    <xs:group name="sqlprolog">
        <xs:sequence>
            <xs:element name="key" fixed="sqlprolog">
                <xs:annotation>
                    <xs:documentation>conexión al sql</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="sqlprolog"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="sqlstringencoding">
        <xs:sequence>
            <xs:element name="key" fixed="sqlstringencoding">
                <xs:annotation>
                    <xs:documentation>(4=UTF-8, 5=latin1)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="sqlstringencoding"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="sqlmap">
        <xs:sequence>
            <xs:element name="key" fixed="sqlmap">
                <xs:annotation>
                    <xs:documentation>path al diccionario que lista las traducciones en lenguaje sql de los queries usados por httpdicom</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="sqlmap"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="filesystembaseuri">
        <xs:sequence>
            <xs:element name="key" fixed="filesystembaseuri">
                <xs:annotation>
                    <xs:documentation>acceso por sistema de archivos a los dicoms del device</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="filesystembaseuri"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="wadouri">
        <xs:sequence>
            <xs:element name="key" fixed="wadouri">
                <xs:annotation>
                    <xs:documentation>uri del servicio en caso que el device local soporte esta funcionalidad</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="wadouri"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="wadoadditionalparameters">
        <xs:sequence>
            <xs:element name="key" fixed="wadoadditionalparameters">
                <xs:annotation>
                    <xs:documentation>por ejemplo '&amp;amp;transferSyntax=1.2.840.10008.1.2.4.90' para pedir las imágenes con compresión JPEG2000 sin pérdida</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="wadoadditionalparameters"/>
        </xs:sequence>
    </xs:group>
    
    
    <xs:group name="mllpip">
       <xs:sequence>
          <xs:element name="key" fixed="mllpip">
             <xs:annotation>
                <xs:documentation></xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element ref="string" id="mllpip"/>
       </xs:sequence>
    </xs:group>
    
    
    <xs:group name="mllpport">
       <xs:sequence>
          <xs:element name="key" fixed="mllpport">
             <xs:annotation>
                <xs:documentation></xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element ref="string" id="mllpport"/>
       </xs:sequence>
    </xs:group>

    
    <xs:group name="DICMip">
        <xs:sequence>
            <xs:element name="key" fixed="DICMip">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="DICMip"/>
        </xs:sequence>
    </xs:group>


    <xs:group name="DICMport">
        <xs:sequence>
            <xs:element name="key" fixed="DICMport">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="DICMport"/>
        </xs:sequence>
    </xs:group>



    <xs:group name="cachepolicy">
        <xs:sequence>
            <xs:element name="key" fixed="cachepolicy">
                <xs:annotation>
                    <xs:documentation>https://developer.apple.com/documentation/foundation/nsurlrequest.cachepolicy</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="cachepolicy"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="timeoutinterval">
        <xs:sequence>
            <xs:element name="key" fixed="timeoutinterval">
                <xs:annotation>
                    <xs:documentation>en seconds (default 60)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="timeoutinterval"/>
        </xs:sequence>
    </xs:group>
    
    
    <xs:group name="wadors">
        <xs:sequence>
            <xs:element name="key" fixed="wadors">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="wadors"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="qido">
        <xs:sequence>
            <xs:element name="key" fixed="qido">
                <xs:annotation>
                    <xs:documentation>en seconds (default 60)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="qido"/>
        </xs:sequence>
    </xs:group>
    
    
    <xs:group name="stow">
        <xs:sequence>
            <xs:element name="key" fixed="stow">
                <xs:annotation>
                    <xs:documentation>https://developer.apple.com/documentation/foundation/nsurlrequest.cachepolicy</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="stow"/>
        </xs:sequence>
    </xs:group>    
    
    
    <xs:group name="dcm4cheelocaluri">
        <xs:sequence>
            <xs:element name="key" fixed="dcm4cheelocaluri">
                <xs:annotation>
                    <xs:documentation>uri de dcm4chee-arc-light en caso que se use como intermediario</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="dcm4cheelocaluri"/>
        </xs:sequence>
    </xs:group>

    
    <xs:group name="dcm4cheeDICMproxytitle">
        <xs:sequence>
            <xs:element name="key" fixed="dcm4cheeDICMproxytitle">
                <xs:annotation>
                    <xs:documentation>nombre corto (máx 16 chars) del PCS custodian</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="dcm4cheeDICMproxytitle"/>            
        </xs:sequence>
    </xs:group>
    
    
    <xs:group name="services">
        <xs:sequence>
            <xs:element name="key" fixed="services"/>
            <xs:element name="dict">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="key"/>
                        <xs:element name="dict">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:group ref="shortname"/>
                                    <xs:group ref="description"/>
                                    <xs:group ref="location"/>
                                    <xs:group ref="html5dicomuserserviceuri"/>
                                    <xs:group ref="html5dicomuseractive"/>
                                    <xs:group ref="aetitles"/>
                                    <xs:group ref="modalities"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    
    
    <xs:group name="shortname">
        <xs:sequence>
            <xs:element name="key" fixed="shortname">
                <xs:annotation>
                    <xs:documentation>nombre corto del servicio (menos de 16 chars)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="shortname"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="description">
        <xs:sequence>
            <xs:element name="key" fixed="description">
                <xs:annotation>
                    <xs:documentation>description del servicio en texto libre</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="description"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="location">
        <xs:sequence>
            <xs:element name="key" fixed="location">
                <xs:annotation>
                    <xs:documentation>ubicación del servicio (texto libre)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="location"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="html5dicomuserserviceuri">
        <xs:sequence>
            <xs:element name="key" fixed="html5dicomuserserviceuri">
                <xs:annotation>
                    <xs:documentation>uri de html5dicom en caso que se crea usuario automaticamente</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="html5dicomuserserviceuri"/>
        </xs:sequence>
    </xs:group>


    <xs:group name="html5dicomuseractive">
        <xs:sequence>
            <xs:element name="key" fixed="html5dicomuseractive">
                <xs:annotation>
                    <xs:documentation>usuario activado o no</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="truefalse"/>
        </xs:sequence>
    </xs:group>
   
    <xs:group name="aetitles">
        <xs:sequence>
            <xs:element name="key" fixed="aetitles">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="aetitles"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="modalities">
        <xs:sequence>
            <xs:element name="key" fixed="modalities">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="string" id="modalities"/>
        </xs:sequence>
    </xs:group>

<!-- syntaxis -->
       
    <xs:element name="string" type="idstring">
        <xs:alternative test="@id = 'preferredstudyidentificator'" type="studyidentificatoridstring"/>
        <xs:alternative test="@id = 'custodiantitle'"              type="titleidstring"/>
        <xs:alternative test="@id = 'custodianoid'"                type="oididstring"/>
        <xs:alternative test="@id = 'countrycode'"                 type="countrycodeidstring"/>
        <xs:alternative test="@id = 'sopstringencoding'"           type="stringencodingidstring"/>
        <xs:alternative test="@id = 'principallanguage'"           type="principallanguageidstring"/>
        
        <xs:alternative test="@id = 'select'"                      type="selectidstring"/>
        <xs:alternative test="@id = 'get'"                         type="getidstring"/>
        <xs:alternative test="@id = 'mwl'"                         type="mwlidstring"/>

        <xs:alternative test="@id = 'sqluser'"                     type="titleidstring"/>
        <xs:alternative test="@id = 'sqlpassword'"                 type="titleidstring"/>
        <xs:alternative test="@id = 'sqlstringencoding'"           type="stringencodingidstring"/>

        <xs:alternative test="@id = 'wadouri'"                     type="httpidstring"/>
        <xs:alternative test="@id = 'qido'"                        type="httpidstring"/>
        <xs:alternative test="@id = 'wadors'"                      type="httpidstring"/>
        <xs:alternative test="@id = 'stow'"                        type="httpidstring"/>

        <xs:alternative test="@id = 'pacsaet'"                     type="titleidstring"/>
        <xs:alternative test="@id = 'pacsoid'"                     type="oididstring"/>
        <xs:alternative test="@id = 'DICMip'"                      type="ipidstring"/>
        <xs:alternative test="@id = 'DICMport'"                    type="portidstring"/>

        <xs:alternative test="@id = 'mllpip'"                      type="ipidstring"/>
        <xs:alternative test="@id = 'mllpport'"                    type="portidstring"/>
        
        <xs:alternative test="@id = 'aetitles'"                    type="titlesidstring"/>
        <xs:alternative test="@id = 'modalities'"                  type="modalitiesidstring"/>

    </xs:element>

    
    <xs:complexType name="idstring">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" use="required"/>                
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    
    <xs:complexType name="modalitiesidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:pattern value="(CR|CT|DX|DXm|MG|MR|PT|RF|US|USr|USm|XA)(\s(CR|CT|DX|DXm|MG|MR|PT|RF|US|USr|USm|XA))*"></xs:pattern>
                <xs:maxLength value="9"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="titleidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:pattern value="\S{1,16}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="optionaltitleidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:pattern value="\S{0,16}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="titlesidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:pattern value="(\S{1,16}(\s\S{1,16})*)?"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="oididstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:maxLength value="64"/>
                <xs:pattern value="[1-2](\d)*(\.0|\.[1-9](\d)*)*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="httpidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:pattern value="(https?://\S+)?"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    
    <xs:complexType name="studyidentificatoridstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:maxLength value="16"/>
                <xs:enumeration value="StudyInstanceUID"/>
                <xs:enumeration value="AccessionNumber"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    
    <xs:complexType name="selectidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:enumeration value="sql"/>
                <xs:enumeration value="qido"/>
                <!--<xs:enumeration value="cfind"/>-->
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="getidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <!-- <xs:enumeration value="file"/> -->
                <!-- <xs:enumeration value="folder"/> -->
                <xs:enumeration value="wado"/>
                <!-- <xs:enumeration value="wadors"/> -->
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="mwlidstring">
       <xs:simpleContent>
          <xs:restriction base="idstring">
              <xs:enumeration value="none"/>
              <xs:enumeration value="sql"/>
             <xs:enumeration value="rest"/>
             <xs:enumeration value="mllp"/>
          </xs:restriction>
       </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="countrycodeidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:enumeration value="cl"/><!--Chile-->
                <xs:enumeration value="uy"/><!--Uruguay-->
                <xs:enumeration value="ar"/><!--Argentina-->
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="principallanguageidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:enumeration value="es"/><!--spanish-->
                <xs:enumeration value="en"/><!--english-->
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="stringencodingidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:enumeration value="4"/><!--UTF-8-->
                <xs:enumeration value="5"/><!--latin1-->
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="ipidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:pattern value="(((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))?"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="portidstring">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:pattern value="[1-9][0-9]{0,4}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:group name="truefalse">
        <xs:choice>
            <xs:element name="true">
                <xs:complexType/>
            </xs:element>
            <xs:element name="false">
                <xs:complexType/>
            </xs:element>
        </xs:choice>
    </xs:group>


    <xs:complexType name="cachepolicy">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:enumeration value="0"/><!--useProtocolCachePolicy-->
                <xs:enumeration value="1"/><!--reloadIgnoringLocalCacheData . Mandatory for HTTP or HTTPS byte-range requests-->
                <xs:enumeration value="2"/><!--returnCacheDataElseLoad . regardless of its age or expiration date-->
                <xs:enumeration value="3"/><!--returnCacheDataDontLoad . offline-->
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    
    <xs:complexType name="timeoutinterval">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:pattern value="[1-9](\d){1,2}"/>
                <xs:maxLength value="64"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="pn">
        <xs:simpleContent>
            <xs:restriction base="idstring">
                <xs:pattern value=".*^.*^.*"/>
                <xs:maxLength value="64"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:element name="true">
        <xs:complexType mixed="false"/>
    </xs:element>
    
    <xs:element name="false">
        <xs:complexType mixed="false"/>
    </xs:element>
    
    
</xs:schema>
